# Global Electricity Consumption

<img src="https://www.repsol.com/content/dam/repsol-corporate/es/energia-e-innovacion/consumo-energetico-cabecera.jpg" width="1000" height="600">

## About Dataset

This dataset contains the Yearly data from 1980 to 2021 on world electricity statistics. The dataset has total of 4 features and details of each feature is given below (All the information is in the billion kWh and million kW).


---
Electricity Activities/Transactions:

* Net Generation (billion kWh): Electricity generation/production
* Net Consumption (billion kWh): Electricity consumption
* Imports (billion kWh): Electricity imports
* Exports (billion kWh): Electricity exports
* Net Imports (billion kWh): Electricity net imports
* Installed Capacity (million kW): The maximum amount of electricity that a generating station (also known as a power plant) can produce under specific conditions designated by the manufacturer
* Distribution Losses (billion kWh): Transmission and distribution losses refer to the losses that occur in transmission of electricity between the sources of supply and points of distribution.

Potential Use Case:

* Time series analysis: Time series analysis to find the different patterns in electricity production, consumption, imports, exports and etc.
* Time series forecasting: Time series forecasting to predict the electricity production and consumption in future.
* Capacity: Find the current statistics of capacity of power plants and forecast the future values.
* Reduce Electricity Losses: Analyzing patterns of distribution losses and finding methods to reduce that

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import zipfile
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time

## Reading the dataframe

In [3]:
file = zipfile.ZipFile('../archive (1).zip')

In [4]:
for i in file.filelist:
    print(i.filename)

Global Electricity Statistics.csv

In [7]:
with file.open('Global Electricity Statistics.csv') as f:
    df = pd.read_csv(f)
    
df.head()

,Country,Features,Region,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Algeria,net generation,Africa,6.683,7.65,8.824,9.615,10.537,11.569,12.214,...,53.9845,56.3134,60.39972,64.68244,66.75504,71.49546,72.10903,76.685,72.73591277,77.53072719
1,Angola,net generation,Africa,0.905,0.906,0.995,1.028,1.028,1.028,1.088,...,6.03408,7.97606,9.21666,9.30914,10.203511,10.67604,12.83194,15.4,16.6,16.429392
2,Benin,net generation,Africa,0.005,0.005,0.005,0.005,0.005,0.005,0.005,...,0.04612,0.08848,0.22666,0.31056,0.26004,0.3115,0.19028,0.2017,0.22608,0.24109728
3,Botswana,net generation,Africa,0.443,0.502,0.489,0.434,0.445,0.456,0.538,...,0.33,0.86868,2.17628,2.79104,2.52984,2.8438,2.97076,3.0469,2.05144,2.18234816
4,Burkina Faso,net generation,Africa,0.098,0.108,0.115,0.117,0.113,0.115,0.122,...,0.86834,0.98268,1.11808,1.43986,1.5509,1.64602,1.6464,1.72552,1.647133174,1.761209666

## Cleaning and preprocessing the data

In [9]:
print('The dataframe contains {} rows and {} columns'.format(df.shape[0], df.shape[1]))

The dataframe contains 1610 rows and 45 columns

The df contains yearly values for each country in seperated columns. This is hard to analyse data, because of this we will convert these columns into rows, by melting the df. So, firstly we are preprocessing our df in the wanted format.

In [15]:
# Specifying the columns we want to keep as is (not melt)
non_melt_columns = ['Country', 'Features', 'Region']

df_processed = pd.melt(df, id_vars=non_melt_columns, var_name='Year', value_name='Value')
df_processed

,Country,Features,Region,Year,Value
0,Algeria,net generation,Africa,1980,6.683
1,Angola,net generation,Africa,1980,0.905
2,Benin,net generation,Africa,1980,0.005
3,Botswana,net generation,Africa,1980,0.443
4,Burkina Faso,net generation,Africa,1980,0.098
...,...,...,...,...,...
67615,Trinidad and Tobago,distribution losses,Central & South America,2021,0.422757
67616,Turks and Caicos Islands,distribution losses,Central & South America,2021,0.01277172
67617,U.S. Virgin Islands,distribution losses,Central & South America,2021,0.051
67618,Uruguay,distribution losses,Central & South America,2021,1.129273
67619,Venezuela,distribution losses,Central & South America,2021,23.04704156

In [18]:
df_processed['Features'].unique()

array(['net generation', 'net consumption', 'imports ', 'exports ',
       'net imports ', 'installed capacity ', 'distribution losses '],
      dtype=object)

In [17]:
feature_mapping = {
    'net generation': 'Net Generation [TWh]',
    'net consumption': 'Net Consumption [TWh]',
    'imports ': 'Imports [TWh]',
    'exports ': 'Exports [TWh]',
    'net imports ': 'Net Imports [TWh]',
    'installed capacity ': 'Installed Capacity [GW]',
    'distribution losses ': 'Distribution Losses [TWh]',
}

In [20]:
df_processed['Features'] = df_processed['Features'].replace(feature_mapping)

In [25]:
df_processed_final = df_processed.pivot(index=['Country', 'Region', 'Year'], columns='Features', values='Value').reset_index()
df_processed_final

Features,Country,Region,Year,Distribution Losses [TWh],Exports [TWh],Imports [TWh],Installed Capacity [GW],Net Consumption [TWh],Net Generation [TWh],Net Imports [TWh]
0,Afghanistan,Asia & Oceania,1980,0.06594,0,0,0.374,0.87606,0.942,0
1,Afghanistan,Asia & Oceania,1981,0.06944,0,0,0.427,0.92256,0.992,0
2,Afghanistan,Asia & Oceania,1982,0.06664,0,0,0.427,0.88536,0.952,0
3,Afghanistan,Asia & Oceania,1983,0.07,0,0,0.45,0.93,1,0
4,Afghanistan,Asia & Oceania,1984,0.07133,0,0,0.45,0.94767,1.019,0
...,...,...,...,...,...,...,...,...,...,...
9655,Zimbabwe,Africa,2017,1.728908,0.351,2.569,2.311252,7.838552,7.34946,2.218
9656,Zimbabwe,Africa,2018,1.747814,0.161,1.177,2.455607,8.455186,9.187,1.016
9657,Zimbabwe,Africa,2019,1.552412,0.504,1.612,2.461,7.786427,8.230839,1.108
9658,Zimbabwe,Africa,2020,1.444983,0.355,2.337,2.474,8.131026611,7.594009611,1.982
9659,Zimbabwe,Africa,2021,1.444983,0.369592435,2.123785623,2.476,8.340104173,8.030893985,1.754193188

In [27]:
df_processed_final.isnull().sum()

Features
Country                        0
Region                         0
Year                           0
Distribution Losses [TWh]    167
Exports [TWh]                167
Imports [TWh]                167
Installed Capacity [GW]      167
Net Consumption [TWh]        167
Net Generation [TWh]         167
Net Imports [TWh]            175
dtype: int64

In [28]:
df_processed_final.loc[df_processed_final['Distribution Losses [TWh]'].isna()]

Features,Country,Region,Year,Distribution Losses [TWh],Exports [TWh],Imports [TWh],Installed Capacity [GW],Net Consumption [TWh],Net Generation [TWh],Net Imports [TWh]
5586,Micronesia,Asia & Oceania,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5587,Micronesia,Asia & Oceania,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5588,Micronesia,Asia & Oceania,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5589,Micronesia,Asia & Oceania,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5590,Micronesia,Asia & Oceania,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8983,U.S. Territories,North America,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8984,U.S. Territories,North America,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8985,U.S. Territories,North America,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8986,U.S. Territories,North America,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8987,U.S. Territories,North America,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There may be leading or trailing whitespaces in the 'Country' column. Because of that we can eliminate them by:

In [55]:
df_processed_final['Country'] = df_processed_final['Country'].str.strip()

In [56]:
df_processed_final.loc[df_processed_final['Region'] == 'Europe']['Country'].unique

<bound method Series.unique of 42             Albania
43             Albania
44             Albania
45             Albania
46             Albania
             ...
9193    United Kingdom
9194    United Kingdom
9195    United Kingdom
9196    United Kingdom
9197    United Kingdom
Name: Country, Length: 1890, dtype: object>

In [58]:
df_processed_final.loc[df_processed_final['Country'] == 'Albania']

Features,Country,Region,Year,Distribution Losses [TWh],Exports [TWh],Imports [TWh],Installed Capacity [GW],Net Consumption [TWh],Net Generation [TWh],Net Imports [TWh]
42,Albania,Europe,1980,0.161,0.5,0,0.595,2.974,3.635,-0.5
43,Albania,Europe,1981,0.161,0.525,0,0.62,2.987,3.673,-0.525
44,Albania,Europe,1982,0.161,0.55,0,0.64,2.981,3.692,-0.55
45,Albania,Europe,1983,0.16,0.575,0,0.69,2.975,3.71,-0.575
46,Albania,Europe,1984,0.16,0.6,0,0.71,2.977,3.737,-0.6
47,Albania,Europe,1985,0.161,0.583,0,0.735,3.039,3.783,-0.583
48,Albania,Europe,1986,0.162,0.63,0.005,0.76,3.027,3.814,-0.625
49,Albania,Europe,1987,0.162,0.8,0.167,0.767,3.441,4.236,-0.633
50,Albania,Europe,1988,0.173,0.735,0.183,0.777,3.205,3.93,-0.552
51,Albania,Europe,1989,0.219,0.631,0.2,0.777,3.431,4.081,-0.431
52,Albania,Europe,1990,1.687,0.118,0.323,1.892,1.659,3.141,0.205
53,Albania,Europe,1991,1.278,1.298,0.65,1.892,1.715,3.641,-0.648
54,Albania,Europe,1992,1.411,0.56,0.104,1.892,1.443,3.31,-0.456
55,Albania,Europe,1993,1.655,0.141,0.082,1.892,1.727,3.441,-0.059
56,Albania,Europe,1994,1.843,0.155,0.157,1.892,2.017,3.858,0.002
57,Albania,Europe,1995,2.283,0.074,0.15,1.669,2.152,4.359,0.076
58,Albania,Europe,1996,2.887,0.38,0.2,1.684,2.79,5.857,-0.18
59,Albania,Europe,1997,2.913,0.839,0.711,1.684,2.084,5.125,-0.128
60,Albania,Europe,1998,3.189,0.69,1.069,1.684,2.2,5.01,0.379
61,Albania,Europe,1999,2.213,0.755,1.113,1.684,3.482,5.337,0.358
62,Albania,Europe,2000,2.073,0.222,1.3,1.684,3.68836,4.68336,1.078
63,Albania,Europe,2001,1.889,0.069,1.8,1.6691,3.48978,3.64778,1.731
64,Albania,Europe,2002,1.297,0.058,2.2,1.6692,4.48556,3.64056,2.142
65,Albania,Europe,2003,2.091,0.326,1.242,1.7792,4.04258,5.21758,0.916
66,Albania,Europe,2004,1.968,0,0.477,1.6692,4.0516,5.5426,0.477
67,Albania,Europe,2005,0.628,0,0.371,1.5922,5.1278,5.3848,0.371
68,Albania,Europe,2006,2.489,0,0.611,1.5922,3.16042,5.03842,0.611
69,Albania,Europe,2007,2.085,0,2.838,1.5922,3.58068,2.82768,2.838
70,Albania,Europe,2008,1.19884,0,2.434,1.5732,5.06626,3.8311,2.434
71,Albania,Europe,2009,1.25041,0.487,1.965,1.5732,5.42946,5.20187,1.478
72,Albania,Europe,2010,1.12132,2.935,1.005,1.5844,4.44145,7.49277,-1.93
73,Albania,Europe,2011,1.07628,0,3.475,1.632,6.54566,4.14694,3.475
74,Albania,Europe,2012,1.1193,0,3.23,1.752,6.78935,4.67865,3.23
75,Albania,Europe,2013,1.95349,0,2.323,1.905,7.25992,6.89041,2.323
76,Albania,Europe,2014,1.11907,0.183,3.25,1.849,6.62569,4.67776,3.067
77,Albania,Europe,2015,1.25,0.956,2.355,1.922,5.98605,5.83705,1.399
78,Albania,Europe,2016,1.9859,0.042,1.827,2.037,7.50528,7.70618,1.785
79,Albania,Europe,2017,1.276047,0,2.914628,2.172425,6.119331,4.48075,2.914628
80,Albania,Europe,2018,1.1557,1.764,0.85048,2.230425,6.39826,8.46748,-0.91352
81,Albania,Europe,2019,1.08183,0.77048,3.176515,2.331425,6.500145,5.17594,2.406035
82,Albania,Europe,2020,0.93263,0.963,3.239,2.535425,6.65637,5.313,2.276
83,Albania,Europe,2021,0.999072126,2.8,2.252,2.540425,7.415870874,8.962943,-0.548

In [62]:
df_processed_final.loc[df_processed_final['Country'].str.strip() == 'Kosovo']

Features,Country,Region,Year,Distribution Losses [TWh],Exports [TWh],Imports [TWh],Installed Capacity [GW],Net Consumption [TWh],Net Generation [TWh],Net Imports [TWh]
4662,Kosovo,Europe,1980,--,--,--,--,--,--,--
4663,Kosovo,Europe,1981,--,--,--,--,--,--,--
4664,Kosovo,Europe,1982,--,--,--,--,--,--,--
4665,Kosovo,Europe,1983,--,--,--,--,--,--,--
4666,Kosovo,Europe,1984,--,--,--,--,--,--,--
4667,Kosovo,Europe,1985,--,--,--,--,--,--,--
4668,Kosovo,Europe,1986,--,--,--,--,--,--,--
4669,Kosovo,Europe,1987,--,--,--,--,--,--,--
4670,Kosovo,Europe,1988,--,--,--,--,--,--,--
4671,Kosovo,Europe,1989,--,--,--,--,--,--,--
4672,Kosovo,Europe,1990,--,--,--,--,--,--,--
4673,Kosovo,Europe,1991,--,--,--,--,--,--,--
4674,Kosovo,Europe,1992,--,--,--,--,--,--,--
4675,Kosovo,Europe,1993,--,--,--,--,--,--,--
4676,Kosovo,Europe,1994,--,--,--,--,--,--,--
4677,Kosovo,Europe,1995,--,--,--,--,--,--,--
4678,Kosovo,Europe,1996,--,--,--,--,--,--,--
4679,Kosovo,Europe,1997,--,--,--,--,--,--,--
4680,Kosovo,Europe,1998,--,--,--,--,--,--,--
4681,Kosovo,Europe,1999,--,--,--,--,--,--,--
4682,Kosovo,Europe,2000,--,--,--,--,--,--,--
4683,Kosovo,Europe,2001,--,--,--,--,--,--,--
4684,Kosovo,Europe,2002,--,--,--,--,--,--,--
4685,Kosovo,Europe,2003,--,--,--,--,--,--,--
4686,Kosovo,Europe,2004,--,--,--,--,--,--,--
4687,Kosovo,Europe,2005,--,--,--,--,--,--,--
4688,Kosovo,Europe,2006,--,--,--,--,--,--,--
4689,Kosovo,Europe,2007,--,--,--,--,--,--,--
4690,Kosovo,Europe,2008,0.953,0.296,0.708,0.958,4.315,4.856,0.412
4691,Kosovo,Europe,2009,0.964,0.274,0.768,0.958,4.214,4.684,0.494
4692,Kosovo,Europe,2010,0.939,0.353,0.819,0.961,4.39234,4.86534,0.466
4693,Kosovo,Europe,2011,0.941,2.717,3.135,0.962,4.93824,5.46124,0.418
4694,Kosovo,Europe,2012,0.929,2.619,2.773,0.962,4.81918,5.59418,0.154
4695,Kosovo,Europe,2013,0.879,2.893,2.551,0.962,4.92308,6.14408,-0.342
4696,Kosovo,Europe,2014,0.818,0.475,0.966,0.962,4.7929,5.1199,0.491
4697,Kosovo,Europe,2015,0.999,0.553,0.684,0.962102,4.89426,5.76226,0.131
4698,Kosovo,Europe,2016,1.174,1.064,0.557,0.99595,4.3011,5.9821,-0.507
4699,Kosovo,Europe,2017,1.317,0.87991,1.242,1.408602,4.964217,5.919127,0.36209
4700,Kosovo,Europe,2018,1.125,0.676815,0.825182,1.424602,4.936412,5.913045,0.148367
4701,Kosovo,Europe,2019,1.145,0.904989,0.928492,1.428,5.224978,6.346475,0.023503
4702,Kosovo,Europe,2020,0.945,1.283206,0.965632,1.424,5.447915,6.710489,-0.317574
4703,Kosovo,Europe,2021,0.945,1.152993846,1.311,1.529,5.550981154,6.337975,0.158006154